<%= form_with(model: @todo, local:true) do |f| %>
 <p class="mt-3"><%= f.label :title, 'タイトル' %></p>
 <%= f.text_field :title %>
 
 <p class="mt-3"><%= f.label :content, '内容' %></p>
 <%= f.text_field :content %>
 
 <p class="mt-3"><%= f.label :due, '期限' %></p>
 <%= f.text_field :due %>
 
 <p class="mt-3"><%= f.label :name, '製作者' %></p>
 <%= f.text_field :name %>
 
 <%= f.submit '作成' %>
 
 <% end %>